*,html,div,p,span,h1,h2,h3,h4,h5,h6,ul,ul li{margin:0;padding:0;}
body{margin:0;padding:0;background:#000;font-family:Microsoft Yahei, simsun;font-size:12px;}
ul, ul li{list-style:none;}
a{color:#006A92;text-decoration:none;}
a:hover{color:#006A92;text-decoration:underline;}
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }
* html>body .clearfix { display:inline-block; width:100%; }
* html .clearfix { height:1%; /* End hide from IE-mac */ } 
/* ie7 hack*/ 
*+html .clearfix { min-height:1%; } 
.clearfix{zoom:1;} 

.wapper{margin:0;padding:50px 0;width:100%;}
#Container{margin:0 auto;padding:0;width:100%;background:url(../images/ye.png) no-repeat center top;}

.yue{margin:0 auto;width:1024px;height:640px;}

.a{position:relative;top:114px;left:910px;width:114px;height:134px;background:url(../images/yue.png) no-repeat center top;overflow:hidden;}
.b{position:absolute;left:0px;width:114px;height:114px;background:#000;}
.c{position:absolute;left:114px;width:114px;height:114px;background:#000;}
.d{position:absolute;bottom:0;width:114px;height:20px;overflow:hidden;}
.e{position:relative;}
.f{position:absolute;top:0;width:114px;text-align:center;color:#FFF;}
.f p{line-height:20px;}

.a{-webkit-transform-style: preserve-3d; -webkit-animation-name: x-spin;-webkit-animation-duration: 30s;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;}

@-webkit-keyframes x-spin{
	0%{left:910px;} 
	50%{top:0;left:455px;}
	100%{top:114px;left:0px;} 
}

.b{-webkit-transform-style: preserve-3d; -webkit-animation-name: y-spin;-webkit-animation-duration: 30s;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;}

@-webkit-keyframes y-spin{
	0%{left:0;}
	50%{left:-114px;}
	100%{left:-114px;} 
}

.c{-webkit-transform-style: preserve-3d; -webkit-animation-name: z-spin;-webkit-animation-duration: 30s;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;}

@-webkit-keyframes z-spin{
	0%{left:114px;}
	50%{left:114px;}
	100%{left:0;} 
}

.f{-webkit-transform-style: preserve-3d; -webkit-animation-name: f-spin;-webkit-animation-duration: 30s;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;}
@-webkit-keyframes f-spin{
	0%{top:0px;}
	1%{top:-20px;}
	50%{top:-300px;}
	100%{top:-600px;} 
}

/*

.c{position:absolute;z-index:10;width:114px;height:114px;background:#000;border-radius:57px;-webkit-transform:rotatey(60deg);background:url(../images/yue.png) no-repeat center center;}
.d{position:absolute;z-index:9;width:57px;height:114px;background:#000;}


.a{position:absolute;top:114px;right:0;width:114px;height:114px;background:url(../images/yue.png) no-repeat center center;overflow:hidden;}
.a{-webkit-transform-style: preserve-3d; -webkit-animation-name: x-spin;-webkit-animation-duration: 30s;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;}

@-webkit-keyframes x-spin{
	0%{} 
	50%{top:0;right:455px;}
	100%{top:114px;right:904px;} 
}

.b{margin:0 auto;display:block;width:114px;height:114px;background:#000;border-radius:0 57px 57px 0;border:1px solid red;}
.b{-webkit-transform-style: preserve-3d; -webkit-animation-name: y-spin;-webkit-animation-duration: 30s;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;}

@-webkit-keyframes y-spin{
	0%{-webkit-transform:rotatey(0deg);}
	25%{-webkit-transform:rotatey(45deg);}
	50%{-webkit-transform:rotatey(90deg);}
	100%{} 
}

*/

